.confirm-reset {
  position: fixed;
  background-color: rgba(100, 100, 100, 0.7);
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: 1;
}
.confirm-reset form {
  box-sizing: border-box;
  background-color: #E9EEEB;
  width: 90vw;
  margin: 100px auto 0 auto;
  padding: 30px 30px 50px 30px;
  border-radius: 2px;
  border: 2px solid black;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}

.confirm-reset p {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}

.confirm-reset .reset-level-warning {
  font-style: italic;
  font-size: 18px;
  color: rgb(150, 0, 0);
  margin: 20px 0;
}

.confirm-reset button {
  padding: 10px;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  border: 2px solid black;
}
.confirm-reset button[type='reset']{
  margin-right: 30px;
}

@media only screen and (max-width: 560px){
  .confirm-reset button[type='reset'], .confirm-reset button[type='submit'] {
    display: block;
    width: 220px;
    margin: 20px auto 0 auto;
  }
}