.dashboard {
  height: 100%;
  width: 100%;
}

.dashboard-username {
  font-family: 'Abel', sans-serif;
  color: #E85A4F;
  font-size: 20px;
  position: fixed;
  top: 2%;
  left: 5%;
}

.logo-container {
  height: 100%;
  width: 100%;
}

.logo-dash {
  font-family: 'Abel', sans-serif;
  color: #E85A4F;
  font-size: 45px;
  position: relative;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 3%;
}

.buttons-container {
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
}

.play-button {
  font-family: 'Abel', sans-serif;
  color: #E85A4F;
  background-color: transparent;
  margin: .5%;
  padding: .5%;
  font-size: 20px;
  border: 2px solid #E85A4F;
  height: 7%;
  width: 150px;
}

.tutorial-button {
  font-family: 'Abel', sans-serif;
  color: #E85A4F;
  background-color: transparent;
  position: relative;
  margin: .5%;
  padding: .5%;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  border: 2px solid #E85A4F;
  height: 7%;
  width: 150px;
}


@media only screen and (max-width: 428px){
  .tutorial-button {
    width: 35vw;
  }

  .play-button {
    width: 35vw;
    margin-right: 20px;
  }
}