.dashboard {
  height: 100%;
  width: 100%;
}

.dashboard-username {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  position: fixed;
  top: 2%;
}

.logo {
  font-family: 'Abel', sans-serif;
  font-size: 45px;
  position: relative;
  text-align: right;
  margin-right: 20%;
  margin-top: 5%;
}

.buttons-container {
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
}

.play-button {
  font-family: 'Abel', sans-serif;
  margin: .5%;
  padding: .5%;
  font-size: 20px;
  border: 2px solid black;
  height: 7%;
  width: 15%;
}

.tutorial-button {
  position: relative;
  margin: .5%;
  padding: .5%;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  border: 2px solid black;
  height: 7%;
  width: 15%;
}
