.gameplay-container {
  height: 100%;
  width: 100%;
  text-align: center;
}

.form-container {
  height: 100%;
  width: 100%;
  text-align: center;
}

.name-country {
  font-family: 'Abel', sans-serif;
  color: #E85A4F;
  font-size: 50px;
  margin-top: 45px;
}

.input-label {
  font-family: 'Abel', sans-serif;
  color: #E85A4F;
  font-size: 20px;
}

.question-image {
  width: 95vw;
  max-width: 1000px;
}

.message {
  font-family: 'Abel', sans-serif;
  color: #E85A4F;
  font-size: 25px;
  margin: 2%;
}

.level {
  font-family: 'Abel', sans-serif;
  color: #E85A4F;
}
.level button {
  font-family: 'Abel', sans-serif;
  color: #E85A4F;
  padding: 1px 3px;
  margin: 10px 0 10px 10px;
  font-size: 14px;
  background-color: rgb(100, 100, 100);
  color: white;
  border-radius: 5px;
}

.next-button {
  font-family: 'Abel', sans-serif;
  color: #E85A4F;
  margin: 15px 20px 15px 0;
  padding: .5%;
  font-size: 20px;
  border: 2px solid #E85A4F;
  background-color: transparent;
  height: 7%;
  width: 180px;
}

.user-input-field {
  padding: 7px;
  font-size: 20px;
  margin-right: 1%;
  width: 25%;
  min-width: 200px;
  border: 2px solid #E85A4F;
  background-color: transparent;
}

.submit-button {
  font-family: 'Abel', sans-serif;
  color: #E85A4F;
  margin: .5%;
  padding: .5%;
  font-size: 20px;
  border: 2px solid #E85A4F;
  background-color: transparent;
  height: 7%;
  width: 100px;
}

.stats-button {
  font-family: 'Abel', sans-serif;
  color: #E85A4F;
  margin: .5%;
  padding: .5%;
  font-size: 20px;
  border: 2px solid #E85A4F;
  background-color: transparent;
  height: 7%;
  width: 180px;
}


@media only screen and (max-width: 700px){
  .user-input-field {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  
  .submit-button, .stats-button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }

  .next-button {

  }
}
