.gameplay-container {
  height: 100%;
  width: 100%;
  text-align: center;
}

.form-container {
  height: 100%;
  width: 100%;
  text-align: center;
}

.name-country {
  font-family: 'Abel', sans-serif;
  font-size: 50px;
  margin-top: 5%;
}

.input-label {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}

.question-image {
  width: 60vw;
}

.message {
  font-family: 'Abel', sans-serif;
  font-size: 25px;
  margin: 2%;
}

.level {
  font-family: 'Abel', sans-serif;
}
.level button {
  font-family: 'Abel', sans-serif;
  padding: 1px 3px;
  margin: 10px 0 10px 10px;
  font-size: 14px;
  background-color: rgb(100, 100, 100);
  color: white;
  border-radius: 5px;
}

.next-button {
  font-family: 'Abel', sans-serif;
  margin: .5%;
  padding: .5%;
  font-size: 20px;
  border: 2px solid black;
  height: 7%;
  width: 15%;
}

.user-input-field {
  padding: 7px;
  font-size: 20px;
  margin-right: 1%;
  width: 25%;
}

.submit-button {
  font-family: 'Abel', sans-serif;
  margin: .5%;
  padding: .5%;
  font-size: 20px;
  border: 2px solid black;
  height: 7%;
  width: 15%;
}

.stats-button {
  font-family: 'Abel', sans-serif;
  margin: .5%;
  padding: .5%;
  font-size: 20px;
  border: 2px solid black;
  height: 7%;
  width: 15%;
}
