body {
  height: 100%;
  width: 100%;
}

.logo {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 120px;
  position: relative;
  text-align: center;
  margin-top: 5%;
}

.logout-button {
  font-family: 'Open Sans Condensed', sans-serif;
  position: fixed;
  top: 2%;
  right: 6%;
  font-size: 20px;
  border: 2px solid black;
  height: 3%;
  width: 10%;
}
