.logout-button {
  font-family: 'Abel', sans-serif;
  color: #E85A4F;
  position: fixed;
  top: 2%;
  right: 6%;
  font-size: 20px;
  border: 2px solid #E85A4F;
  background-color: #EAE7DC;
  height: 40px;
  width: 80px;
  z-index: 2;
}
