.home {
  height: 100%;
  width: 100%;
}

.side-photo {
  position: fixed;
  height: 100%;
  width: 50%;
  background-image: url("https://s15.postimg.cc/rm98sqk23/Bryce2.jpg");
  background-size: cover;
  margin-top: -76px;
  margin-left: -20px;
}

.logo-landing {
  font-family: 'Abel', sans-serif;
  color: #E85A4F;
  font-size: 45px;
  text-align: right;
  margin-top: 5%;
  margin-right: 20%;
}

.description-container {
  position: fixed;
  height: 50%;
  width: 50%;
  right: 0px;

}

.description, .tagline {
  font-family: 'Abel', sans-serif;
  color: #E85A4F;
  position: relative;
  margin-top: 10%;
  margin-right: 20%;
  margin-left: 20%;
}

.option {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}

.loading-screen {
  text-align: center;
}
.loading-screen p {
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  margin: 0 0 20px 15px;
}
.loading-screen img {
  width: 100%;
  max-width: 300px;
}
