.login-form {
  margin-top: 50px;
}

.login-form .label {
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  color: #E85A4F;
}

.login-form input {
  border: 2px solid #E85A4F;
  background-color: transparent;
  width: 35%;
  min-width: 160px;
  padding: 5px;
  margin-top: 2%;
  margin-bottom: 10px;
}

.login-button {
  font-family: 'Abel', sans-serif;
  color: #E85A4F;
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 15px;
  border: 2px solid #E85A4F;
  background-color: transparent;
  height: 40px;
  width: 75px;
}

.login-form .form-error {
  font-style: italic;
  margin-right: 5px;
}

@media only screen and (max-width: 600px){
  .login-form {
    width: 180px;
    margin: 10% auto 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 20px 100px 20px;
    border-radius: 20px;
  }

  .option {
    top: -50px;
  }
}
