.login-form {
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: 5%;
}

.login-form .label {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
}

.login-form input {
  border: 2px solid black;
  width: 20%;
  padding: 3px;
}

.login-button {
  font-family: 'EB Garamond', serif;
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 20px;
  border: 2px solid black;
  height: 7%;
  width: 10%;
}

.login-form .form-error {
  font-style: italic;
  margin-right: 5px;
}
