.login-form {
  position: fixed;
  height: 100%;
  width: 50%;
  top: 50%;
  right: 0%;
}

.login-form .label {
  font-family: 'Abel', sans-serif;
  font-size: 15px;
  color: #E85A4F;
}

.login-form input {
  border: 2px solid #E85A4F;
  background-color: transparent;
  width: 35%;
  padding: 5px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.login-button {
  font-family: 'Abel', sans-serif;
  color: #E85A4F;
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 15px;
  border: 2px solid #E85A4F;
  background-color: transparent;
  height: 7%;
  width: 10%;
}

.login-form .form-error {
  font-style: italic;
  margin-right: 5px;
}
