.label {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
}

input {
  border: 2px solid black;
  width: 20%;
}

.register-button {
  font-family: 'EB Garamond', serif;
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 20px;
  border: 2px solid black;
  height: 7%;
  width: 10%;
}
