
.register-container {
  font-size: 20px;
  color: #E85A4F;
  display: inline-block;
  width: 50%;
  text-align: center;
  padding-top: 100px;
  vertical-align: top;
}

.logo-register {
  font-family: 'Abel', sans-serif;
  color: #E85A4F;
  font-size: 45px;
  text-align: center;
}


.register-button {
  font-family: 'Abel', sans-serif;
  color: #E85A4F;
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 15px;
  border: 2px solid #E85A4F;
  background-color: transparent;
  height: 40px;
  width: 75px;
}

.register-container label {
  font-size: 18px;
}


@media only screen and (max-width: 620px){
  .register-container {
    width: 100%;
  }
  .logo-register {
    border-radius: 40px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 160px;
    background: radial-gradient(rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 85%);
  }
}
