.summary-progress-container {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  margin: 20px auto 20px auto;
  text-align: center;
  border: 2px solid #E85A4F;
}

.stats {
  height: 100%;
  width: 100%;
  text-align: center;
  list-style: none;
}

.average-container {
  position: relative;
  margin-top: 7%;
  height: 100%;
  width: 60%;
  text-align: center;
  border: 2px solid black;
}

.average {
  font-family: 'Abel', sans-serif;
  color: #E85A4F;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 2%;
  padding: 0 10px;
}

.stats-li {
  font-family: 'Abel', sans-serif;
  color: #E85A4F;
  margin: 1%;
  font-size: 20px;
}

.border {
  font-family: 'Abel', sans-serif;
  color: #E85A4F;
  border: 2px solid #E85A4F;
  width: 300px;
  /* background-color: #ffe52c; */
  display: inline-block;
  margin-top: 1%;
}

.bar {
  font-family: 'Abel', sans-serif;
  color: white;
  text-shadow: 2px 0 #E85A4F;
  height: 24px;
  width: 10%;
  background-color: #8E8D8A;
  text-align: right;
}

@media only screen and (max-width: 400px){
  .border {
    width: 90%;
  }
}