.tutorial-container {
  font-size: 20px;
  margin: 5% 10%;
  color: #E85A4F;
}

.tutorial-text {
  font-family: 'Abel', sans-serif;
}

ul.tutorial-text {
  font-family: 'Abel', sans-serif;
}


li.tutorial-text {
  list-style: none;
  font-family: 'Abel', sans-serif;
  margin: 0 0 20px -3px;
}
.tutorial-text span {
  margin-left: 5px;
  font-family: 'Abel', sans-serif;
}

.tutorial-button-container {
  width: 100%;
  text-align: center;
}

.tutorial-button {
  font-family: 'Abel', sans-serif;
  color: #E85A4F;
  font-size: 20px;
  border: 2px solid #E85A4F;
  background-color: transparent;
}
